.elements
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.drop
{
    width: 27%;
}

input:first-of-type
{
    width: 27%;
    height: 48px;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
}

mat-select
{
    width: 100%;
    height: 100%;
}