<div class="main">
    <div class="parent">
          <div class="child">
              <h3 class="h3"><b>Create Activity</b></h3>
              <input matInput placeholder="Type Your Activity title">
              <mat-checkbox class="firstcheck">Show on 1to1Me</mat-checkbox>
              <mat-label class="se">Select Activity Type</mat-label>    
              <mat-form-field class="select">
                  <mat-label>Please Select Your Type</mat-label>
                      <mat-select class="one">
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                      </mat-select>
              </mat-form-field>
          </div>
        <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>ballot</mat-icon> Details
                </mat-panel-title>
            </mat-expansion-panel-header>           

          <div class="div">
                <div class="div1">

                        <h3>WorkSpace</h3>
                        <mat-form-field class="wsdiv1">
                            <mat-select class="wsdiv1select">
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>        
            
                        <h3>Priority</h3>
                        <mat-form-field class="prdiv1">
                            <mat-select class="prdiv1select">
                                <mat-option class="fa fa-star checked" value="one">First option</mat-option>
                                <mat-option class="fa fa-star checked" value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>    

                    <mat-divider></mat-divider>

                    <mat-label>Start<mat-checkbox>Recurring</mat-checkbox></mat-label>
                    <div class="date-and-menu">
                        <div class="hold-date-picker-icon">
                            <input matInput class="date1" [matDatepicker]="picker1" [formControl]="date">
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1">
                              <!-- Insert icon style here -->
                            </mat-datepicker-toggle>
                        </div>
                
                        <div class="boxes">
                          <mat-form-field class="first">
                            <mat-select class="oneselect">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                                <mat-option value="6">6</mat-option>
                                <mat-option value="7">7</mat-option>
                                <mat-option value="8">8</mat-option>
                                <mat-option value="9">9</mat-option>
                                <mat-option value="10">10</mat-option>
                                <mat-option value="11">11</mat-option>
                                <mat-option value="12">12</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="first">
                            <mat-select class="twoselect">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                                <mat-option value="6">6</mat-option>
                                <mat-option value="7">7</mat-option>
                                <mat-option value="8">8</mat-option>
                                <mat-option value="9">9</mat-option>
                                <mat-option value="10">10</mat-option>
                                <mat-option value="11">11</mat-option>
                                <mat-option value="12">12</mat-option>
                                <mat-option value="13">13</mat-option>
                                <mat-option value="14">14</mat-option>
                                <mat-option value="15">15</mat-option>
                                <mat-option value="16">16</mat-option>
                                <mat-option value="17">17</mat-option>
                                <mat-option value="18">18</mat-option>
                                <mat-option value="19">19</mat-option>
                                <mat-option value="20">20</mat-option>
                                <mat-option value="21">21</mat-option>
                                <mat-option value="22">22</mat-option>
                                <mat-option value="23">23</mat-option>
                                <mat-option value="24">24</mat-option>
                                <mat-option value="25">25</mat-option>
                                <mat-option value="26">26</mat-option>
                                <mat-option value="27">27</mat-option>
                                <mat-option value="28">28</mat-option>
                                <mat-option value="29">29</mat-option>
                                <mat-option value="30">30</mat-option>
                                <mat-option value="31">31</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="first">
                            <mat-select class="threeselect">
                                <mat-option value="AM">AM</mat-option>
                                <mat-option value="PM">PM</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <br />
                      </div>
                    <mat-label>Reminder</mat-label>

                        <div class="menu">
                              <input class="menuinput" matInput />
                              <mat-select class="four">
                                <mat-option value="Seconds">Seconds</mat-option>
                                <mat-option value="Minutes">Minutes</mat-option>
                                <mat-option value="Hours">Hours</mat-option>
                              </mat-select>
                        </div>

                    <mat-label>Location</mat-label>

                        <div>
                            <input class="five" matInput placeholder="Building, Street Address, URL etc..." />
                        </div>
                </div>

                <div class="div2">
                    <h3>Show In Calendar</h3>
                    <mat-form-field class="sicdiv2">
                      <mat-select class="sicdiv2select">
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <h3>Status</h3>
                    <mat-form-field class="statusdiv2">
                      <mat-select class="statusdiv2select">
                        <mat-option class="fa fa-star checked" value="one">First option</mat-option>
                        <mat-option class="fa fa-star checked" value="two">Second option</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-divider></mat-divider>

                    <mat-label>End<mat-checkbox>All Day Event</mat-checkbox></mat-label>
                  <div class="date-and-menu">
                    <div>
                      <input matInput class="date1" [matDatepicker]="picker2" [formControl]="date">
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    </div>

                    <div class="boxes">
                      <mat-form-field class="first">
                        <mat-select class="oneselect">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="11">11</mat-option>
                            <mat-option value="12">12</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="first">
                        <mat-select class="twoselect">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                            <mat-option value="11">11</mat-option>
                            <mat-option value="12">12</mat-option>
                            <mat-option value="13">13</mat-option>
                            <mat-option value="14">14</mat-option>
                            <mat-option value="15">15</mat-option>
                            <mat-option value="16">16</mat-option>
                            <mat-option value="17">17</mat-option>
                            <mat-option value="18">18</mat-option>
                            <mat-option value="19">19</mat-option>
                            <mat-option value="20">20</mat-option>
                            <mat-option value="21">21</mat-option>
                            <mat-option value="22">22</mat-option>
                            <mat-option value="23">23</mat-option>
                            <mat-option value="24">24</mat-option>
                            <mat-option value="25">25</mat-option>
                            <mat-option value="26">26</mat-option>
                            <mat-option value="27">27</mat-option>
                            <mat-option value="28">28</mat-option>
                            <mat-option value="29">29</mat-option>
                            <mat-option value="30">30</mat-option>
                            <mat-option value="31">31</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="first">
                        <mat-select class="threeselect">
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="PM">PM</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <br />
                  </div>
                </div>
              </div>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                  <mat-icon>description</mat-icon> Description
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-checkbox>Show Custom Design on 1to1Me</mat-checkbox>
                <div class="versions">
                  <button class="button" (click)="changeEditor(1)">None</button>
                  <span>|</span>
                  <button class="button" (click)="changeEditor(2)">Standard</button>
                  <span>|</span>
                  <button class="button" (click)="changeEditor(3)">Advanced</button>
                </div>

                <div>
                  <editor  [init]="editorConfig"></editor>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title>
                <mat-icon>spreadsheet</mat-icon>  Spreadsheet
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p>Information</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  Activity Files
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p>Information</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  Assigned
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p>Information</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  Process Flows
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p>Information</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <div class="elements">
          <mat-checkbox class="secondcheck">Do not send notification<br> on Save</mat-checkbox>
          <button  mat-flat-button class="create">Create Activity</button>
          <button mat-flat-button class="cancel">Cancel</button>
        </div>
    </div>
</div>