.main
{
    box-sizing: border-box;
    width: 735px;
    height: 500px;
}

:host 
{
    display: flex;
    flex-direction: row;
    margin: 2.5% 2.5%;
}

mat-form-field
{
    padding: 10px 10px;
}

.close
{
    cursor: pointer;
}

.add
{
    cursor: pointer;
}