<body>
    <h1>User Login</h1>

    <form>
        
        <label for="username">Login Name</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <label for="role">Role</label>
        <select id="role" name="role">
            <option value="1to1 Core Executive Master">1to1 Core Executive Master</option>
            <option value="Core Team">Core Team</option>
            <option value="1to1 CORE">1to1 CORE</option>
            <option value="Archive">Archive</option>
            <option value="BusOps">BusOps</option>
            <option value="Contractor Team">Contractor Team</option>
        </select>

        <label for="workspace">WorkSpace</label>
        <select id="workspace" name="workspace" multiple>
            <option value="!Core Team">!Core Team</option>
            <option value="1to1 CORE">1to1 CORE</option>
            <option value="Archive">Archive</option>
            <option value="BusOps">BusOps</option>
            <option value="Contractor Team">Contractor Team</option>
        </select>

        <input type="submit" value="Submit">

    </form>
</body>
