<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side" opened="true">

        <button mat-button class="menu-button" style="color:white"  routerLink="/dashboard/view">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        
        <button mat-button class="menu-button"  style="color:white" routerLink="/chat/view">
            <mat-icon>forum</mat-icon>
            <span>Chat</span>
        </button>

        <button mat-button class="menu-button"  style="color:white" routerLink="/smartoffice/view">
            <mat-icon>cloud</mat-icon>
            <span>Smart Office</span>
        </button>

        <button mat-button class="menu-button"  style="color:white" routerLink="/team/view">
            <mat-icon>diversity_2</mat-icon>
            <span>Team</span>
        </button>

        <button mat-button class="menu-button"  style="color:white" routerLink="/calendar/view">
            <mat-icon>calendar_month</mat-icon>
            <span>Calendar</span>
        </button>

        <button mat-button class="menu-button"  style="color:white" routerLink="/channel/view">
            <mat-icon>trending_flat</mat-icon>
            <span>Channel</span>
        </button>

        <button mat-button class="menu-button" style="color:white"  routerLink="/contacts/view">
            <mat-icon>groups</mat-icon>
            <span>Contacts</span>
        </button>

        <button mat-button class="menu-button" style="color:white"  routerLink="/notes/view">
            <mat-icon>edit_square</mat-icon>
            <span>Notes</span>
        </button>

        <button mat-button class="menu-button" style="color:white"  routerLink="/files/view">
            <mat-icon>file_copy</mat-icon>
            <span>Files</span>
        </button>

        <button mat-button class="menu-button" style="color:white"  routerLink="/marketing/view">
            <mat-icon>campaign</mat-icon>
            <span>Marketing</span>
        </button>

        <button mat-button class="menu-button" style="color:white"  routerLink="/search/view">
            <mat-icon>search</mat-icon>
            <span>Search</span>
        </button>

        <button mat-button class="menu-button"  style="color:white" routerLink="/reports/view">
            <mat-icon>area_chart</mat-icon>
            <span>Reports</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" style="color:white"  routerLink="/configuration/view">
            <mat-icon>palette</mat-icon>
            <span>Configuration</span>
        </button>
        
        <button mat-button class="menu-button"  style="color:white" routerLink="/administration/view">
            <mat-icon>settings</mat-icon>
            <span>Administration</span>
        </button>

        <mat-divider></mat-divider>

        <h4>Powered by <span style="color: lightseagreen;"><b>BLOCKCERTS</b></span></h4>
        <h6 style="color: brown;">(Sample version)</h6>
        
  </mat-sidenav>

  <mat-sidenav-content class="content mat-elevation-z8">

        <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>