<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="mode === 'over'">
        <mat-icon *ngIf="!opened"> menu </mat-icon>
        <mat-icon *ngIf="opened"> close </mat-icon>
    </button>

    <div>
        <h1 style="color: lightcoral;">TeamCERTAIN</h1>
    </div>

    <span class="example-spacer">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Search Something">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>help</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>
