<mat-tab-group>
    <mat-tab label="All">
        <app-contacts></app-contacts>
        <app-activities></app-activities>
        <app-files></app-files>
        <app-notes></app-notes>
    </mat-tab>

    <mat-tab label="Contacts">
        <app-contacts></app-contacts>
    </mat-tab>

    <mat-tab label="Activities">
        <app-activities></app-activities>
    </mat-tab>

    <mat-tab label="Files">
        <app-files></app-files>
    </mat-tab>

    <mat-tab label="Notes">
        <app-notes></app-notes>
    </mat-tab>

</mat-tab-group>
